*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.log
*.log*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class
/build/

.gradle/
.idea/
.classpath
.project
.settings/
target/
local/

/*.ids
/*.ipr
/*.iws
*.iml
.DS_Store

.metadata/
.gradle/
totalBuild/
/build/
/*/build/
/bin/
/*/bin/
.classpath
.project
.directory
.settings/
**/*/.idea
.directory
.DS_Store
*.*~
