<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     version="3.0">

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
	<!--security-constraint>
		<web-resource-collection>
			<web-resource-name>SMS API Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>authenticated</role-name>
		</auth-constraint>
	</security-constraint-->
	
	<!-- Define the Login Configuration for this Application -->
	<!--login-config>
		<auth-method>FORM</auth-method>
		<realm-name>IDP Application</realm-name>
		<form-login-config>
			<form-login-page>/login</form-login-page>
			<form-error-page>/login-error</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<description>
	      The role that is required to log in to the SMS-API Application
	    </description>
		<role-name>authenticated</role-name>
	</security-role-->
    
</web-app>